* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Roboto;
  }
  
  .title {
    font-size: 32px;
    color: green;
    margin-top: 40px;
    margin-bottom: 15px;
  }
  
  table {
    border: 1px solid #ddd;
    border-collapse: collapse;
  }
  
  th {
    background: #f3f3f3;
  }
  
  td, th {
    border: 1px solid #ddd;
    padding: 12px 16px;
  }
  
  .button {
    border: 0;
    background: gray;
    color: white;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .button-edit {
    background-color: orange;
    color: black;
  }
  
  .button-delete {
    background-color: red;
    color: white;
  }
  
  .form {
    border: 1px solid #ddd;
    width: 500px;
    padding: 20px;
    border-radius: 6px;
  }
  
  .form input {
    height: 48px;
    width: 100%;
    display: block;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    padding: 0 12px;
    border-radius: 6px;
    outline: 0;
  }
  
  .form button {
    height: 48px;
    width: 100%;
    border: 0;
    font-weight: bold;
    background: #7bb4ff;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .alert-list {
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 99;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .alert {
    background-color: gray;
    width: 250px;
    padding: 12px 20px;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
  }
  
  .alert--success {
    background-color: #60c700;
  }
  
  .alert--error {
    background-color: #c71e00;
  }
  
  .alert__content {
    font-size: 16px;
    font-family: Arial;
  }
  
  .alert__close {
    font-size: 20px;
    cursor: pointer;
  }
  
  .alert__close:hover {
    color: red;
  }